<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xbel</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Linkstr</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xbel+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bookmark List</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocXBEL</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Linkstr</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-opml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OPML Outline</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocOPML</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atom</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Linkstr</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/atom+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Atom Feed</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocAtom</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
			<key>CFBundleURLName</key>
			<string>https URL</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
			<key>CFBundleURLName</key>
			<string>http URL</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Linkstr</string>
	<key>CFBundleIdentifier</key>
	<string>net.linkstr.Linkstr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${APP_VERSION_DISPLAY}</string>
	<key>CFBundleSignature</key>
	<string>lLnk</string>
	<key>CFBundleVersion</key>
	<string>${APP_VERSION}</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Linkstr.sdef</string>
	<key>SUFeedURL</key>
	<string>http://linkstr.net/profileInfo.php</string>
</dict>
</plist>
